body {
    margin: 0; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/gears.png);
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.25);
    padding-top: 12px;
    align-items: center;
}

.bottom-spacing {
    margin-bottom: 8px;
}

.selected-answer:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.1);
}

.bg-success, .bg-danger {
    color: white;
}

.text-center {
    text-align: center;
}

.btn-endscreen {
    display: flex;
    justify-content: center;
}

.card-img-top  {
    height: 20rem;
    object-fit: cover;
}

.card-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-img-top-endscreen {
    height: 20rem;
    object-fit: contain;
    background-color: #cfebea;
}

.border-none {
    border: none !important;
}

.progress {
    border-radius: 0 !important;
}

.quiz-card {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.164);
}

.card-body {
    box-shadow: 1px 1px 1px rgb(212 212 212);
}

.card-endscreen {
    width: 40rem;
}


@media (max-width: 400px) { 
    body {
        overflow: hidden;
        justify-content: flex-start;
    }

    .content-container {
      padding: 0 !important;
      
    }

    .card-img-top-endscreen {
        width: 100%;
    }
}